main {
    height: calc(100vh - 30px);
    & > div.row {
        margin: 0;
        width: 100vw;

        //for current/top pannel
        &.current {
            display: flex;

            & > div.imgcontainer {
                padding: 0;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            & > div.middlePannel {
                padding: 0;
                .infoScreen {
                    height: 80%;
                    min-height: calc(100% - 50px);
                    padding: 1rem;
                    & > * > span {
                        display: block;
                    }
                    & > div:nth-child(1) {
                        & > span:nth-child(1) {
                            font-size: 3rem;
                        }
                        & > span:nth-child(2) {
                            font-size: 2.75rem;
                        }
                        & > span:nth-child(3) {
                            font-size: 2rem;
                            & > span {
                                vertical-align: super;
                            }
                            & > i:nth-child(1) {
                                font-size: 3.5rem;
                            }
                            & > span:nth-child(3) {
                                margin-left: 2rem;
                            }
                            & > img {
                                height: 1.5ex;
                                vertical-align: super;
                                margin-left: 1rem;
                            }
                        }
                    }
                    & > div:nth-child(2) > span:nth-child(1){
                        font-size: 2.5rem;
                        display: block;
                    }

                    & > div:nth-child(2) > span:nth-child(2){
                        font-size: 2.25rem;
                        display: block;
                    }
                }
                .controlPanel {
                    height: 20%;
                    max-height: 50px;
                    min-height: 45px;
                    padding-left: 0.25rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .btn-floating {
                        a {
                            font-size: 2rem;
                        }
                        &:nth-child(2) {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        //for tabs/second panel
        &.tabs {
            max-height: 50px;
            min-height: 45px;
            padding-left: 25%;
            padding-right: 25%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &:after {
                width: 0;
                content: unset;
            }

            .btn-flat {
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 2rem;
                border-radius: 0;
                &:hover {
                    background-color: rgba(79, 84, 92, 0.32);
                }
            }
        }
    }
}

section.settings {
    height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
    position: absolute;
    z-index: 1000;
    display: flex;
    &.scale-in {
        opacity: 100%;
        transition: opacity 0.25s cubic-bezier(0.53, 0.01, 0.36, 1) 0.05s,
            transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1) !important;
    }
    &.scale-out {
        opacity: 0%;
        transition: opacity 0.25s cubic-bezier(0.53, 0.01, 0.36, 1), transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1) !important;
    }

    & ul.sidenav {
        transform: translateY(0);
        position: relative;
        height: calc(100vh - 30px);
        max-height: calc(100vh - 30px);
        li.bold a:focus {
            background-color: rgba(79, 84, 92, 0.32);
        }
    }

    & > .close {
        position: absolute;
        float: right;
        right: 20px;
        top: 6px;
        &:focus {
            background-color: rgba(79, 84, 92, 0.32);
        }
    }

    & > div {
        width: calc(100vw - 300px);
        height: calc(100vh - 30px);
        max-height: calc(100vh - 30px);
        overflow-x: hidden;
    }

    & > div {
        > section {
            padding-top: 6px;
            min-height: 100%;

            &[data-coupledid="timetable"] {
                & > .fixed-action-btn {
                    bottom: 10px;
                    & > ul {
                        bottom: 35px;
                        & > li > a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            & > img {
                                height: auto;
                                width: 95%;
                            }
                        }
                    }
                }

                & > .container {
                    display: flex;
                    flex-direction: row;
                    .day {
                        width: calc(100% / 7);
                        > div:not(:nth-child(1)) {
                            height: 1rem;
                            &.hourBottom {
                                border-bottom: 0.1rem solid white;
                            }
                            &.hourTop {
                                border-top: 0.1rem solid white;
                            }
                            &.img {
                                background-repeat: no-repeat;
                                background-size: auto 4rem;
                                &.NPORadio1 {
                                    background-image: url(../../img/NPO_Radio_1_logo_2014.svg);
                                }
                                &.NPORadio2 {
                                    background-image: url(../../img/NPO_Radio_2_logo_2014.svg);
                                }
                                &.NPO3FM {
                                    background-image: url(../../img/NPO_3FM_logo_2020.svg);
                                }
                                &.NPORadio4 {
                                    background-image: url(../../img/NPO_Radio_4_logo_2014.svg);
                                }
                                &.NPORadio5 {
                                    background-image: url(../../img/NPO_Radio_5_logo_2016.svg);
                                }
                                &.NPOFunX {
                                    background-image: url(../../img/NPO_funX_logo_2014.svg);
                                    background-size: 100% 4rem;
                                }
                                &.N3FMalternative {
                                    background-image: url(../../img/NPO_3FM_alternative_logo_2020.svg);
                                }
                                &.N3FMkx {
                                    background-image: url(../../img/NPO_3FM_kx_logo_2020.svg);
                                }
                                &.N4Concerten {
                                    background-image: url(../../img/NPO_Radio_4_concerten_logo_2014.svg);
                                }
                                &.N5sterren {
                                    background-image: url(../../img/NPO_sterrenNL_logo_2016.svg);
                                }
                                &.N2SJ {
                                    background-image: url(../../img/NPO_Radio_2_Soul_&_Jazz_logo_2020.svg);
                                }
                            }
                            cursor: pointer;
                            &:hover {
                                border: 0.1rem solid black;
                                & span {
                                    display: block;
                                }
                            }
                            & span {
                                display: none;
                                margin: 0;
                                margin-top: -0.1rem;
                                margin-left: -0.1rem;
                                width: 100%;
                                height: 100%;
                                font-size: 0.9rem;
                                align-self: center;
                                line-height: 1rem;
                                text-align: center;
                                color: white;
                            }
                            &.N3FMkx,
                            &.N2SJ {
                                span {
                                    color: black;
                                }
                            }
                        }
                        > div:nth-child(1) {
                            display: flex;
                            justify-content: center;
                            font-size: 1.2rem;
                            position: sticky;
                            top: 0;
                        }
                    }
                }
            }

            &[data-coupledid="display"] {
                &>div {
                    padding-left: 3ex;
                    &>span:nth-child(1) {
                        font-size: 2.5rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.ColourAnimate * {
    transition: background-color 0.3s ease-out, color 0.3s ease-out, filter 0.3s ease-out;
}

.action-menu-item img {
    filter: invert(100%);
}

.window-appicon {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    background-size: 85% !important;
}

.themeFont {
    &.bold {
        font-family: "themeFontBold", fallback, sans-serif;
    }
    font-family: "themeFont", fallback, sans-serif;
}

.pointer {
    cursor: pointer;
}

@import "variables";

@font-face {
    font-family: "broadcaster";
    src: url("../../font/broadcaster/broadcaster.eot?dmog8l");
    src: url("../../font/broadcaster/broadcaster.eot?dmog8l#iefix") format("embedded-opentype"),
        url("../../font/broadcaster/broadcaster.ttf?dmog8l") format("truetype"),
        url("../../font/broadcaster/broadcaster.woff?dmog8l") format("woff"),
        url("../../font/broadcaster/broadcaster.svg?dmog8l##broadcaster") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i[class^="Ticon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "broadcaster" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Ticon-MAX {
    &:before {
        content: $Ticon-MAX;
    }
}
.Ticon-AVROTROS {
    &:before {
        content: $Ticon-AVROTROS;
    }
}
.Ticon-BNNVARA {
    &:before {
        content: $Ticon-BNNVARA;
    }
}
.Ticon-EO {
    &:before {
        content: $Ticon-EO;
    }
}
.Ticon-HUMAN {
    &:before {
        content: $Ticon-HUMAN;
    }
}
.Ticon-KRONCRV {
    &:before {
        content: $Ticon-KRONCRV;
    }
}
.Ticon-NOS {
    &:before {
        content: $Ticon-NOS;
    }
}
.Ticon-NTR {
    &:before {
        content: $Ticon-NTR;
    }
}
.Ticon-POWNED {
    &:before {
        content: $Ticon-POWNED;
    }
}
.Ticon-WNL {
    &:before {
        content: $Ticon-WNL;
    }
}
