$icomoon-font-family: "broadcaster" !default;
$icomoon-font-path: "fonts" !default;

$Ticon-MAX: "\e900";
$Ticon-AVROTROS: "\e901";
$Ticon-BNNVARA: "\e902";
$Ticon-EO: "\e903";
$Ticon-HUMAN: "\e904";
$Ticon-KRONCRV: "\e905";
$Ticon-NOS: "\e906";
$Ticon-NTR: "\e907";
$Ticon-POWNED: "\e908";
$Ticon-WNL: "\e909";

