@font-face {
    font-family:NPO Regular;
    src:local("NPO Regular"),
    url(https://over.npo.nl/fonts/npo/NPOSans-Regular-v101.woff) format("woff");
    font-style:normal;
    font-weight:400
 }

:root {
    --themeColour: #ff6d00;
    --NPOOrange: #ff6d00;
    --lightGrey: #e6e6e6;
    --darkBlueGrey: #262d35;
    --darkGrey: #4c4c4c; 
    --midGrey: #999999;
    --darkBlueGreyHighlight: #3d4855;
    --serif: 'NPO Regular', sans-serif;
    --sans: 'DM Sans', sans-serif;
    --themeFilter: invert(48%) sepia(35%) saturate(4243%) hue-rotate(1deg) brightness(100%) contrast(103%);
    --npoFilter: invert(62%) sepia(82%) saturate(4378%) hue-rotate(357deg) brightness(97%) contrast(107%);
}

.titlebar {
    font-family: var(--sans);
}

.window-appicon {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    background-size: 100% !important;
}

.current.container {
    display: grid;
    grid-template-areas: 'img left right' 'img control right';
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 90% 10%;
    background-color: var(--lightGrey);
}

.current.img {
    grid-area: img;

}

#currentimg {
    width: 100%;
    display: block;
    min-height: 100%;
}

.current.program {
    grid-area: left;
}

.current.station {
    grid-area: right;
}

.invisible {
    height: 0;
    width: 0;
    display: none;
}

.controls.container {
    background-color: var(--darkGrey);
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*text-transform: uppercase;*/
    font-family: var(--serif);
    position: sticky;
    top: -1px;
}

.controls.container div {
    /*text-transform: uppercase;*/
    display: flex;
    align-items: center;
    font-size: 2em;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    user-select: none;
    cursor: pointer;
    vertical-align: middle;
}

.controls.active {
    background-color: var(--themeColour);
    font-weight: 500;
}

.controls:not(.active) {
    color: white;
}

.controls.container div:hover {
    background-color: var(--themeColour);
}

.current.program {
    font-family: var(--sans);
    padding-left: 3em;
}

.current.program #programname {
    font-family: var(--serif);
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 0em;
    margin-top: 0;
}

.current.program #DJ {
    font-family: var(--serif);
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: 0em;
    margin-top: 0;
}

.current.program #broadcaster {
    line-height: 0em;
    font-weight: 500;
    font-size: 1.5em;
}

.current.program #time {
    line-height: 0em;
    margin-left: 2em;
    font-size: 1.5em;
}

#currentStation {
    width: 100%;
}

.audiocontrols {
    background-color: var(--darkGrey);
    grid-area: control;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "leftAC rightAC";
    height: 100%;
    max-height: 100%;
}

.current.station {
    background-color: var(--darkBlueGrey);
}

.audiocontrols div.playbutton {
    height: 90%;
    margin-top: 0.5%;
    margin-left: 1%;
}

.audiocontrols div.playbutton img{
    height: 100%;
}

#stationTimes #stationTime {
    margin-left: 2em;
}

#stationTimes {
    margin-left: 1em;
    font-size: 1.5em;
    font-family: var(--sans);
    color: white;
    margin-bottom: 0;
}

.current.station.nextup {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: 'img text';
}

.current.station.nextup #nextStation {
    grid-area: img;
    height: 100%;
    filter: brightness(0.9) grayscale(40%);
}

.current.station.nextup .text {
    grid-area: text;
    margin-top: 0;
    font-size: 1em;
    font-family: var(--sans);
    color: white;
    filter: brightness(0.7);
}

.current.station.nextup .text #nextstationTime {
    margin-top: 2em;
}

.audiocontrols .playbutton {
    background-color: white;
    border-radius: 100%;
    width: min-content;
    cursor: pointer;
    display: inline-block;
}

.audiocontrols .playbutton img {
    filter: var(--themeFilter);
}

.audiocontrols .volume {
    display: inline-block;
    height: 90%;
    margin-top: 0;
    margin-left: 1%;
}

.audiocontrols .volume input{
    height: 100%;
    margin-left: 0;
    cursor: grab
}

.audiocontrols .volume input:focus {
    cursor: grabbing
}

.audiocontrols .volume img {
    height: 100%;
    filter: var(--themeFilter);
}

.audiocontrols .volume .volumebutton {
    height: 100%;
    background-color: white;
    border-radius: 100%;
    width: fit-content;
    display: inline-block;
    cursor: pointer;
}

.spinning {
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: default;
}

@keyframes spinning {
    0% {transform: rotate(180deg);}
    50% {transform: rotate(90deg);}
    100% {transform: rotate(0deg);}
}

.rightalign {
    display: inline-block;
    grid-area: rightAC;
    height: 57%;
}

.leftalign {
    display: block;
    grid-area: leftAC;
    height: 57%;
}
div.rightbutton {
    height: 90%;
    margin-top: 0.5%;
    float: right;
}

div.rightbutton img{
    height: 100%;
}

div.rightbutton img {
    filter: var(--themeFilter);
}

div.rightbutton {
    background-color: white;
    border-radius: 100%;
    width: min-content;
    cursor: pointer;
    display: inline-block;
    margin-right: 2%;
}

.infWindow {
    position: absolute;
    background-color: var(--midGrey);
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 10;
    display: none;
}

.close {
    background-color: white;
    border-radius: 100%;
    height: 2.5em;
    width: min-content;
    margin-top: 1em;
    margin-left: calc(100vw - 3.5em);
    cursor: pointer;
    position: absolute;
}

.aboutWindow .close img {
    height: 100%;
    filter: var(--themeFilter);
    transition: transform 0.5s;
}

.settingsWindow .close img {
    height: 100%;
    filter: var(--npoFilter);
    transition: transform 0.5s;
}

.close:hover img {
    transform: rotate(180deg);
}

.aboutWindow .container {
    background-color: white;
    height: 80%;
    width: 80%;
    margin-left: 7.5%;
    margin-top: 5%;
    border-radius: 2em;
    padding-top: 1%;
    padding-lefT: 1%;
    overflow-y: auto;
}

.aboutWindow .container::-webkit-scrollbar {
    display: none;
  }

.closeWrapper {
    position: relative;
    height: 0;
    width: 0;
}

.aboutWindow .container p,.aboutWindow .container a {
    font-family: var(--serif);
    text-decoration: none;
    color: black;
}

.aboutWindow .container a:hover {
    color: var(--NPOOrange);
}

.aboutWindow .container a img {
    height: 4em;
}

.aboutWindow .container a {
    font-size: 2em;
    font-size: var(--sans);

}

::-webkit-scrollbar {
    width: 1%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--lightGrey);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--darkBlueGrey);
    box-sizing: border-box;
    border: 2px solid var(--midGrey);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--darkBlueGreyHighlight);
  }

  @media only all and (max-width: 1034px) {
    .current.container {
        display: grid;
        grid-template-areas: 'img left' 'img control';
        grid-template-columns: calc(100%/3) calc(calc(100%/3)*2) 0%;
        grid-template-rows: 90% 10%;
        background-color: var(--lightGrey);
    }

    .current.station {
        display: none;
        grid-area: none;
    }
  }

.settings.container {
    display: grid;
    grid-template-columns: minmax(auto, 25%) auto;
    grid-template-areas: 'SettingsLeft SettingsRight';
    height: 100%;
}

.settings.right {
    background-color: white;
}

.settings.left {
    display: flex;
    justify-content: flex-end;
}

.settings.left .container {
    margin-top: 10%;
    margin-left: 10% !important;
    padding-left: 10%;
    width: max-content;
}

.settings.left .container div {
    width: max-content;
    font-family: var(--serif);
    font-size: 2.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

.settings.left .container div:hover {
    background-color: rgba(64, 70, 77, 0.178);
}

.settings.left .container div.active:hover {
    background-color: rgba(116,127,141,0.24);
}

.settings.left .container div.active {
    background-color: rgba(116,127,141,0.24);
}

.settings div .header {
    font-family: var(--sans);
    font-size: 4em;
    margin-top: 0.1em;
}

.settings.checkbox {
    height: 3em;
    margin-top: 0;
}

.settings.label {
    font-size: 3em;
}

.save {
    background-color: var(--darkGrey);
    height: 2.5em;
    width: max-content;
    margin-top: calc(100vh - 3.5em - 30px);
    justify-self: center;
    cursor: pointer;
    position: absolute;
}

.saveWrapper {
    width: 100%;
    display: flex;
    position: relative;
    height: 0;
    width: 0;
}

.GuideElement {
    width: 90vw;
    margin-left: 5vw;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 'leftGuide rightGuide';
    margin-top: 1vh;
    background-color: var(--lightGrey);
}

.GuideElement img {
    grid-area: leftGuide;
    max-width: 100%;
}

.GuideElement p {
    grid-area: rightGuide;
}

.GuideElement p span:nth-of-type(1) {
    font-family: var(--serif);
    font-size: 2em;
}

.GuideElement p span {
    font-family: var(--sans);
    font-size: 1.5em;
}